.body-container {
    padding: 20px;
    text-align: center;
  }
  
  .intro {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
  }
  
  .featured-products {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  .about-us {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
  }
  
 
  